<h1> Crear Nuevo usuario </h1>

<form action="/users" method="post">

    <label for="name">Nombre:</label>
    <input type="text" name="users[name]" id="name">

    <label for="password">Contrasenia:</label>`
    <input type="text" name="users[password]" id="password">
    
    <input type="submit" value="Crear usuario">	

</form>