<h1> Crear Nuevo gasto </h1>

<form action="/spents" method="post">

    
    <label for="monto">Monto:</label>
    <input type="number" name="spents[monto]" id="monto">

    <label for="descripcion">Descripcion:</label>
    <input type="text" name="spents[descripcion]" id="descripcion">

    <label for="boleta_img">boleta_img:</label>
    <input type="text" name="spents[boleta_img]" id="boleta_img">

    <label for="user_id">User_id:</label>
    <input type="number" name="spents[user_id]" id="user_id">
    
    <input type="submit" value="Crear nuevo gasto">	

</form>